{
    "wifi_ssid": "你的WiFi名",
    "wifi_pass": "你的WiFi密码",
    "mqtt_broker": "127.0.0.1",
    "mqtt_port": 1883,
    "mqtt_topic": "esp32/face_detect",
    "client_id": "esp32s3_face",
    "voice_server_ip": "127.0.0.1",
    "voice_server_port": 9000
}
